@model SxVMSeoKeyword[]
@{
    Layout = null;
    var sid = ViewBag.SeoInfoId;
}

<br />
<h3>Ключевые слова<span class="small"> (Максимально рекомендуемое количество фраз - 20)</span></h3>
@using (Ajax.BeginForm("edit", new { controller = "seokeywords" }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "seo-kw" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="SeoInfoId" name="SeoInfoId" value="@sid" autocomplete="off" />
    <label for="Value">Новое ключевое слово</label>
    <div class="input-group">
        <input type="text" id="Value" name="Value" class="form-control" placeholder="Введите ключевое слово" autocomplete="off" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Добавить</button>
        </span>
    </div>
}
<br />
@Html.SxGV(Model,
            new SxExtantions.SxGVSettings<SxVMSeoKeyword>
            {
                Columns = new SxExtantions.SxGvColumn<SxVMSeoKeyword>[]{
                    new SxExtantions.SxGvColumn<SxVMSeoKeyword>{FieldName="Value", Caption="Ключевое слово"}
                },
                DataAjaxUrl="/seokeywords?sid="+ sid
            })